.triptych-grid-item {
    &:nth-child(2) {
        flex-grow: 1;
    }
}
    .triptych-grid-item_padded {
        padding: 0 15px;
    }
    .triptych-grid-item_centered {
        text-align: center;
    }
