@import '../../styles/colors';

.project-card {
    border-radius: 3px;
    background-color: white;
    padding: 10px;
}
    .project-card__amount {
        color: lighten(@text-color, 50%);
    }
    .project-card__name {
        font-size: 200%;
    }
