@import '../../styles/colors';

.project-card {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 17px 10px -2px rgba(0, 0, 0, 0.15);
}

.project-card-header {
    margin-bottom: 150px;
}
